<% if @stocks.any? %>
  <% @stocks.each do |stock_item| %>
    <h2> <%= stock_item.name %> </h2>
  <% end %>
<% else %>
  No clothing items availiable
<% end %>

<%= link_to "Add new item to stock", new_stock_path, class: "btn btn-default" %>
