<% if @stocks.any? %>
  <% @stocks.each do |stock_item| %>
    <h2> <%= link_to stock_item.name, stock_path(stock_item) %> </h2>
    <%= link_to 'Edit item', edit_stock_path(stock_item) %>
  <% end %>
<% else %>
  No clothing items availiable
<% end %>

<%= link_to "Add new item to stock", new_stock_path, class: "btn btn-default" %>
